---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const title = "privacy"
---

<Layout title={title}>
	<main>
		<h1>Privacy</h1>
	</main>
</Layout>

<style>
	
	h1 {
		color: rgb(174, 27, 185);
	}

	
</style>
